.toolbelt {
  position: absolute;
  top: 20px;
  left: 18px;
}

.toolbubble {
  font-size: 12px;
  background-color: gray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.1s;
  border: 2px solid white;
  z-index: 1;

  &--chosen {
    height: 55px;
    width: 55px;
    font-size: 28px;
    left: 13px !important;
    top: 13px !important;
    border: 4px solid white;
    z-index: 100;
  }

  &--TICKED {
    left: 30px;
  }

  &--DELETE {
    left: 60px;
    top: 52px;
  }

  &--X {
    top: 52px;
  }
}
